<section class="col-12">
    <div class="d-flex col-11">
        <div class="col-6 colum_1 justify-content-star">
            <input class="find_1" type="name" placeholder="Buscar por codigo">
        </div>
        <div class="col-6 d-flex justify-content-end">
            <div class="col-6 text-start">
                <label for="" class="font_text_label m-4 justify-content-end">Tipo de Maquinaria</label>
            </div>
            <form [formGroup]="categoriaFormulario">
                <select formControlName="idCategoria" class="options col_ingery" (change)="enviarIdCategoria()">
                    <option class="size_1" value="" disabled selected>Seleccionar Tipo Maquinaria</option>
                    <option class="size_1" *ngFor="let categoria of tipoCategoriaEntidad; let i = index" [ngValue]="categoria">
                      {{ categoria.tipoCategoriaNombre }}
                    </option>
                </select>
            </form>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="font_text_label text-center"> </th>
                        <th class="font_text_label text-center">Codigo</th>
                        <th class="font_text_label text-center">Nombre Maquina</th>
                        <th class="font_text_label text-center">Color</th>
                        <th class="font_text_label text-center">Marca</th>
                        <th class="font_text_label text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody class="font_text_label text-center my-5">
                    <tr *ngFor="let maquinaria of listaMaquinaria; let i = index">
                        <td>
                            <span [ngClass]="{
                                'bg_status_ok': maquinaria.maquinariaEstado === 'Ok',
                                'bg_status_advertencia': maquinaria.maquinariaEstado === 'Urgente',
                                'bg_status_pendiente': maquinaria.maquinariaEstado === 'Pendiente'}">{{textEstado}}
                            </span>
                        </td>
                        <td>
                            {{maquinaria.maquinariaPlaca}}
                        </td>
                        <td>{{maquinaria.maquinariaNombre}}</td>
                        <td>{{maquinaria.maquinariaColor}}</td>
                        <td>{{maquinaria.maquinariaMarca}}</td>
                        <td>
                            <button (click)="guardarLocalIdMaquinaria(i)" class="btn_one" type="submit"><i class="fa-solid fa-pen-to-square"></i></button> &nbsp;
                            <button (click)="guardarLocalIdMaquinaria(i)" class="btn_two" routerLink="../registro-actividad" type="button"><i class="fa-solid fa-list-check"></i></button> &nbsp;
                            <button (click)="guardarLocalIdMaquinaria(i)" class="btn_three" routerLink="../registro-mantenimiento" type="button"><i class="fa-solid fa-screwdriver-wrench"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>