
<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Produccion</h1>
            <p>
                La producción en nuestra finca es un ciclo interdependiente de cuidado, 
                dedicación y respeto por la tierra.  
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img [src]="imgUno" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Arroz</h5>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img [src]="imgDos" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Aguacate</h2>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img [src]="imgTres" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Maiz</h2>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->
